*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 225, 225);
  color: rgb(0, 0, 0);
  font-family: "Nunito", sans-serif;
}

textarea {
  overflow-y: hidden;
}

.itemList {
  font-size: 0.9rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
